<div class="home-link"><a href="/">nyc farmers markets</a></div>

<form method="post" id="login_form" action="/login">
            <label for="email">Email</label>
            <input id="login_email" name="email"type="text">
          </p>
          <p>
            <label for="password">Password</label>
            <input id="login_password" name="password" type="password">
          </p>
          <p class="remember">
            <input id="login_submit"value="Log in"tabindex="6"type="submit">
            <input id="remember"name="remember_me"value="1"tabindex="7"type="checkbox">
            <label for="remember">Remember me</label>
          </p>
        </form>
