<div class="home-link"><a href="/">nyc farmers markets</a></div>

        <form method="post" id="signup_form" action="users">
          <label for="email">Email</label>
          <input type="text" id="signup_email" name="email">
        </p>
        <p>
          <label for="password">Password</label>
          <input id="signup_password" name="password" type="password">
          <label for="password">Password Confirmation</label>
          <input id="password_confirmation" name="password_confirmation" type="password">
        </p>
        <input id="signup_submit" value="Sign Up"tabindex="6" type="submit">
      </form>
