    <form method="post"id="signup"action="users">
      <label for="username">Email</label>
      <input id="username"name="email"value=""title="username"tabindex="4"type="text">
      </p>
      <p>
        <label for="password">Password</label>
        <input id="password"name="password"value=""title="password"tabindex="5"type="password"> <br>
        <label for="password">Password Confirmation</label>
        <input id="password"name="password_confirmation"value=""title="password"tabindex="5"type="password">
      </p>
        <input id="login_submit"value="Sign in"tabindex="6"type="submit">
    </form>
