<div id="left-hand-box">
  <p>This is where we will show information about the app</p>
  <p>We will show instructions on how to navigate and click a bubble on the map to view markets in that area</p>
</div>
