<div id="left-hand-box">
  <ul>
    <li>This is where we will show information about the app</li> <br>
    <li>We will show instructions on how to navigate and click a bubble on the map to view markets in that area</li> <br>
    <li>The d3 map with the bubbles will be displayed to the right of this box</li> <br>
    <li>When you click a bubble in the map, it will display information about the markets in that neighborhood in this box</li><br>
    <li>You can then click one of those markets to display a dropdown of further information (hrs of operation, address, link, etc.)</li>
    <li>Link to accordion style dropdown menu on jQuery codecademyhttp://www.codecademy.com/courses/web-beginner-en-jtFIC/2/1</li>
  </ul>

  <br>
  <br>
  <br>
<p>TEST</p> <br>
  <div id="market">
            <h3>Market 1</h3>
            <div>
                <p>I'm info about the first market!</p>
            </div>
            <!--Add two more sections below!-->
            <h3>Market 2</h3>
            <div>
                <p>I'm info about the second market!</p>
            </div>
            <h3>Market 3</h3>
            <div>
                <p>I'm info about the third market!</p>
            </div>
        </div>
</div>

<div id="map"></div>
