<div class="main-body">

  <div class="left-hand-box">
    <div class="info-text">
      <h2>DEMO TEXT</h2>
      <br>
      This is where we will show information about the app<br>
      We will show instructions on how to navigate and click a bubble on the map to view markets in that area<br>
      The d3 map with the bubbles will be displayed to the right of this box<br>
      When you click a bubble in the map, it will display information about the markets in that neighborhood in this box<br>
      You can then click one of those markets to display a dropdown of further information (hrs of operation, address, link, etc.)
      </div>

    <div class="market">
    </div>
  </div>

  <div class="map-container">
    <div id="map-canvas"></div>
  </div>

</div>


