<div class="main-body">

  <div class="left-hand-box">
    <div class="info-text">
      <h2>FARMERS MARKETS</h2>
      <p>
        The following data was compiled from New York State's Open Data Portal. The markers show the locations of farmers markets in the New York City area in 2013.
      </p>
      </div>

    <div class="market"></div>
    <button class="hidden" data-user_id="<%= current_user.try(:id) %>" id="favorite-button">Add to Favorites</button>
    <p>
      <label for="date">Day #:</label>
      <input type="text" id="date" style="border: 0; color: #f6931f; font-weight: bold;" />
    </p>
    <div id="slider-wrap">
      <button id="play-button">play</button>
      <div id="slider"></div>
    </div>
  </div>

  <div class="map-container">
    <div id="map-canvas"></div>
  </div>

</div>


