 <%= render partial: 'layouts/header' %>

<div class="cf main-body">

  <div class="left-hand-box">
    <div class="info-text">
      <h2><a href="/">nyc farmers markets</a></h2>
      <p>
        The circles show the locations of farmers' markets in the New York City area in 2013.  Click a circle to view more information about that market.</p>
    </div>


    <div class="market"></div>
    <button class="hidden" data-user_id="<%= current_user.try(:id) %>" id="favorite-button">Add to Favorites</button>
    <p>
      <label for="date">Day #:</label>
      <input type="text" id="date" style="border: 0; color: #f6931f; font-weight: bold;" />
    </p>
    <div id="slider-wrap">
      <p>Drag the slider or click "PLAY" <br> to progress through the year</p>
      <button id="play-button">PLAY</button>
      <div id="slider"></div>
    </div>
  </div>

  <div class="map-container">
    <div id="map-canvas"></div>
  </div>

</div>

  <%= render partial: 'layouts/footer' %>
