/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*just going to do CSS in here for now*/

.main-body {
  margin: 0 auto;
  width: 1200px;
}

.header {
  display :inline-block;
  background-color: #f3f3f3;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}

/*this is title of page,
positioned top left of nav bar*/
.title {
  float:left;
  color: rgba(0,0,0,.8);
  position: relative;
  margin: 10px;
}

.title_text {
  font-family: 'Titan One', cursive;
  letter-spacing: .05em;
  font-size: 36px;
  position: relative;
}


#notice_container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
/*  padding: 20px 40px;*/
/*  margin-top: 20px;*/
}

#flash_notice {
    padding: 5px 8px;
    margin: 10px 0;
    background-color: #CFC;
    border: solid 1px #6C6;
    text-align: center;
}



.map-container {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  float: left;
}

#map-canvas {
  padding-left: 10px;
  margin-left: 70px;
  width: 95%;
  height: 490px;
}

/*this is the login/signup/login links within nav*/
.top_right_links {
  float: right;
<<<<<<< HEAD
  margin: 25px 60px;
=======
  margin: 10px 30px;
>>>>>>> master
  font-family: "Gudea";
  padding: 10px;
}

/* left hand side on the homepage */
.left-hand-box {
  border: 1px solid black;
  float: left;
  width: 450px;
  height: 500px;
  margin-right: 20px;
  float: left;
}



.info-text h2 {
  font-size: 20px;
}

.hidden {
  display: none;
}



 /*THIS BEGINS CODE FOR login DROPDOWN*/

#container {
    width:780px;
    margin:0 auto;
    position: relative;
}

#content {
    width:520px;
    min-height:500px;
}
a:link, a:visited {
    color:#27b;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a img {
    border-width:0;
}
#topnav {
    padding:10px 0px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
}
#topnav a.login, #topnav a.signup {
    background:#88bbd4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
#topnav a.login:hover, #topnav a.signup:hover {
    background:#59B;

}
/*#topnav a.login, #topnav a.login:hover, #topnav a.signup, #topnav a.signup:hover {
    *background-position:0 3px!important;
}*/

a.login, a.signup {
    position:relative;
    margin-left:3px;
}
/*a.login span, a.signup span {
    background-image:url("images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}*/
#topnav a.menu-open {
    background:#ddeef6!important;
    color:#666!important;
    outline:none;
}
/*#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}*/
a.login.menu-open span {
    background-image:url("images/toggle_up_dark.png");
    color:#789;
}

#login_menu, #signup_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#ddeef6;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 24.5px;
    right: 0px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}

#login_menu input[type=text], #login_menu input[type=password], #signup_menu input[type=text], #signup_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#login_menu p {
    margin:0;
}
#login_menu a {
    color:#6AC;
}
#login_menu label {
    font-weight:normal;
}
#login_menu p.remember {
    padding:10px 0;
}
#login_menu p.forgot, #login_menu p.complete {
    clear:both;
    margin:5px 0;
}
#login_menu p a {
    color:#27B!important;
}
#login_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#39d url('images/bg-btn-blue.png') repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#login_submit::-moz-focus-inner {
padding:0;
border:0;
}
#login_submit:hover, #login_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}

/*THIS ENDS CSS CODE FOR login/signup DROPDOWN*/

