<footer class="cf">

    <!-- position on left -->
    <div class="source-info">
      <p>Source: New York State Open Data Portal</p>
    </div>

    <div class="made-by">
      <p>Built by: Jimmy Davis, Tom Metzger, and Kat Santiago</p>
      <p>Powered by: D3, JavaScript, jQuery, Ruby on Rails, and caffeine</p>
    </div>

</footer>
