<header>
  <div class="header">
    <!-- position on left -->
    <div class="title">
      <p class="title_text"><%= link_to "Market App", root_path %></p>
    </div>


    <!-- position on right -->
    <div class="top_right_links">
      <p>


        <!--  <div id="container"> -->
        <!-- TODO : add the  if current_user method in erb brackets to show links to FAVORITES AND LOG OUT if current_user, else show SIGN UP and LOGIN  -->
        <% if current_user %>
        <%= link_to "FAVORITES", current_user  %>
        <!-- right now there is no logout -->
        <%= link_to "LOG OUT", "/logout" %>
        <% else %>
        <!-- TODO Not sure if the paths will be different if we are doing a dynamic sign up and log in with AJAX -->

        <!-- THIS IS TO LOG IN ----------------- -->
        <div id="topnav"class="topnav"> Have an account? <a href="login" class="login"><span>LOG IN</span></a> </div>
        <fieldset id="login_menu">
          <form method="post" id="login" action="/login">
            <label for="email">Email</label>
            <input id="email"name="email"value=""title="email"tabindex="4"type="text">
          </p>
          <p>
            <label for="password">Password</label>
            <input id="password"name="password"value=""title="password"tabindex="5"type="password">
          </p>
          <p class="remember">
            <input id="login_submit"value="Log in"tabindex="6"type="submit">
            <input id="remember"name="remember_me"value="1"tabindex="7"type="checkbox">
            <label for="remember">Remember me</label>
          </p>
        </form>
      </fieldset>



      <!-- THIS IS TO SIGN UP ------------------ -->
      <div id="topnav"class="topnav"><a href="/login" class="signup"><span>SIGN UP</span></a> </div>
      <fieldset id="signup_menu">
        <form method="post"id="signup"action="users">
          <label for="email">Email</label>
          <input id="email"name="email"value=""title="email"tabindex="4"type="text">
        </p>
        <p>
          <label for="password">Password</label>
          <input id="password"name="password"value=""title="password"tabindex="5"type="password">
          <label for="password">Password Confirmation</label>
          <input id="password"name="password_confirmation"value=""title="password"tabindex="5"type="password">
        </p>
        <input id="login_submit"value="Sign Up"tabindex="6"type="submit">
      </form>
    </fieldset>



    <!-- </div> -->


    <% end %>
  </p>
</div>
</div>
</header>
