<!-- position on right -->
    <div class="header_links">
      <p>

        <!--  <div id="container"> -->
        <!-- TODO : if current_user, show links to FAVORITES AND LOG OUT if current_user, else show SIGN UP and LOGIN  -->
        <% if current_user %>
          <%= link_to "DASHBOARD", current_user  %> |
          <!-- right now there is no logout -->
          <%= link_to "LOG OUT", "/logout" %>
        <% else %>


      <!-- THIS IS TO SIGN UP ------------------ -->
      <div id="topnav"class="topnav"><a href="/login" class="signup">SIGN UP</a> </div>
      <fieldset id="signup_menu">
        <form method="post" id="signup_form" action="users">
          <label for="email">Email</label>
          <input type="email" id="signup_email" name="email">
        </p>
        <p>
          <label for="password">Password</label>
          <input id="signup_password" name="password" type="password">
          <label for="password">Password Confirmation</label>
          <input id="password_confirmation" name="password_confirmation" type="password">
        </p>
        <input id="signup_submit" value="Sign Up"tabindex="6" type="submit">
      </form>
    </fieldset>

            <!-- THIS IS TO LOG IN ----------------- -->
        <div id="topnav"class="topnav"><a href="login" class="login">LOG IN</a> </div>
        <fieldset id="login_menu">
          <form method="post" id="login_form" action="/login">
            <label for="email">Email</label>
            <input id="login_email" name="email"type="email">
          </p>
          <p>
            <label for="password">Password</label>
            <input id="login_password" name="password" type="password">
          </p>
          <p class="remember">
            <input id="login_submit"value="Log in"tabindex="6"type="submit">
            <input id="remember"name="remember_me"value="1"tabindex="7"type="checkbox">
            <label for="remember">Remember me</label>
          </p>
        </form>
      </fieldset>


    <!-- </div> -->


    <% end %>
  </p>
</div>
